body {
    flex-direction: row;
    width: 1400px;
}
.nav-bar {
    width: 200px;
    margin: 0;
}
nav {
    display: flex;
    flex-direction: column;
    float: left;
    background-color: var(--main-color);
    height: 100vh;
}

.head {
    display: flex;
    flex-direction: row;
}
main {
    margin: 0;
    
}


.text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;

}


.columm {
    width: 60%;
    float: left;

}
.second-columm {
    width: 30%;
   float: right;

}
.columm .food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px; 
}
.columm .food-container {
    width: 270px;
    height: 330px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--product1);
}
.columm .grade-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}
.columm .grade {
    display: flex;
    gap: 10px;
    background-color: #000000;
    border-radius: 20px;
    padding: 0.2em 0.5em;
    margin-top: 15px;
}
.columm i {
    color: yellow;
}
  .columm .grade-info {
    color: white;
  }

.columm .heart {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 0.2em 0.2em;
    font-size: 1.3em;
    border-radius: 30px;
    margin-top: 10px;
}
.columm .heart i {
    color: red;
}
.columm .food-foto {
    display: flex;
    justify-content: center;
    height: 150px;
}

.columm .food-name {
    margin-top: 30px;
    line-height: 2em;
    margin-left: 10px;
  }
  .columm .food-name span {
    background-color: var(--secondary-color);
    padding: 0.3em 0.3em;
    border-radius: 10px;
    margin-left: 10px;
    color: #e5bde5;
  }
  
  .columm .food-price {
    margin-left: 10px;
    font-weight: bold;
  }

.order {
    display: inline-block;
}